.slides {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.row > .card {
  max-width: 16rem;
}

.card-lg.card {
  max-width: 18rem;
}

.text-bg-green {
  background-color: rgba(95, 248, 123, 0.1);
  color: rgb(95, 248, 123);
}

.text-bg-red {
  background-color: rgba(248, 95, 115, 0.1);
  color: rgb(248, 95, 115);
}

.text-bg-blue {
  background-color: rgba(95, 136, 248, 0.1);
  color: rgb(95, 136, 248);
}

.fs-sm {
  font-size: 0.9rem;
}

.bg-overlay {
  backdrop-filter: blur(12px);
  background-color: rgba(208, 208, 208, 0.004);
}
